* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}